<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Poll Simulator</title>
</head>
<body>
    <div>
        <h1>Poll Simulator</h1>
        <p><a href="./addCandidates.html">Add Candidates</a></p>
        <p><a href="./vote.html">Vote</a></p>
        <p><a href="./result.html">Poll Result</a></p>
        <p><a href="./summary.html">Voting Summary</a></p>
    </div>
</body>
</html>